{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="container">
    <h1 class="h5">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
    label: 'Votre email'
    }) }}

    <div class="row">
        <div class="col-6">

            {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de pass'
            }) }}
        </div>
        <div class="col-6 ">
            {{ form_row(registrationForm.agreeTerms,
            {
            label: 'agree to terms now'
            }
            ) }}
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary btn-sm my-2">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}